body {
  background: linear-gradient(
    90deg,
     darkgreen
     (133, 245, 4) 0%,
    #1123e3 50%,
   white 100%
  );
}
h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #243a57;
  font-size: 8rem;
  background: -webkit-linear-gradient(21deg, #32a010 24%, rgb(140, 0, 0) 69%);

  -webkit-text-fill-color: transparent;
}
p {
  font-size: 4rem;
  font-weight: 1200;
  font-size: 4rem;
  color: rgb(27, 207, 17);
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  font-size: 40px;
  margin-top: 5%;
  color: #06d4f8;
  text-align: left;
  font-family: "Indie Flower", cursive;
  padding-top: 40px;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.roll {
  display: block;
  margin: 30px auto 0;
  font-family: "Indie FLower", cursive;
  font-size: 4rem;
  border-radius: 47%;
  font-size: 5rem;
  background-color: #3d766e;
  color: rgb(155, 3, 3);
  padding: 30px 50px;
  font-size: 60px;
  font-weight: 900;
}
