body {
  background: linear-gradient(
    90deg,
     rgb(209, 219, 209)
     (133, 245, 4) 0%,
    #2e3cda 50%,
   white 100%
  );
}
h1 {
  margin: 30px;
  font-family: "Poppins", cursive;
  text-shadow: 5px 0 #3c6192;
  font-size: 8rem;
  background: -webkit-linear-gradient(21deg, #b4a5a5 24%, rgb(163, 69, 69) 69%);

  -webkit-text-fill-color: transparent;
}
p {
  font-size: 3.8rem;
  font-weight: 1250;
  font-size: 3.5rem;
  color: rgb(197, 197, 82);
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  font-size: 40px;
  margin-top: 5%;
  color: #06d4f8;
  text-align: center;
  font-family: "Alkalami", cursive;
  padding-top: 40px;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.roll {
  display: block;
  margin: 30px auto 0;
  font-family: "Indie FLower", cursive;
  font-size: 4rem;
  border-radius: 47%;
  font-size: 1.9rem;
  background-color: #3d766e;
  color: rgb(10, 10, 10);
  padding: 20px 40px;
  font-size: 40px;
  font-weight: 700;
}
